#results {
    visibility: hidden;
}

#footer {
    text-align: center;
    background-color: #888888;
    font-size: 8pt;
    padding-top: 20px;
}

#jumbotron {
    background-color: #8f5a5a;
    text-align: center;
}

body {
    text-align: center;
}